@mixin margin-top($mt) {
  margin-top: $mt;
}
@mixin margin-left($ml) {
  margin-left: $ml;
}
.ml-2 {
  @include margin-left(2px);
}
.mt-2 {
  @include margin-top(2px);
}
.mt-3 {
  @include margin-top(3px);
}
.mt-4 {
  @include margin-top(4px);
}
.mt-5 {
  @include margin-top(5px);
}
.text-center {
  text-align: center;
}
.grid {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template:
    "title title title" 80px
    "sidenav content content" 150px
    "sidenav content content" 100px
    / 150px 1fr 100px;
  header {
    grid-area: title;
  }
  .main {
    grid-area: content;
  }
  aside {
    grid-area: sidenav;
  }
}
