$primary-color: #6b2aee;
$secondary-color: #02e7d9;
$exit-color: #cd0000;
$warning-color: #ecde46;

$primary-font: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
$secondary-font: "Courier New", Courier, monospace;
