@mixin button-style($back-color, $hover-color) {
  background-color: $back-color;
  &:hover {
    // todo botão, quando passar por cima, vai escurecer 8% da sua cor
    background-color: darken($color: $back-color, $amount: 8%);
  }
}

.btn {
  width: 10rem;
  border: 0;
  border-radius: 9px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  &:disabled {
    background-color: gray;
  }
  &.btn-primary {
    // usando o mixin "button-style"
    @include button-style($primary-color, $hover-color);
  }
  &.btn-secondary {
    @include button-style($secondary-color, $hover-color);
  }
  &.btn-success {
    @include button-style($success-color, $hover-color);
  }
}
