@mixin margin($mt, $me, $ms, $mb) {
  margin: $mt, $me, $mb, $ms;
}
.mt-2 {
  @include margin(2px, 0, 0, 0);
}
.mt-3 {
  @include margin(3px, 0, 0, 0);
}
.mt-4 {
  @include margin(4px, 0, 0, 0);
}
.text-center {
  text-align: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}

#form-texts {
  display: flex;
  flex-direction: column;
}
