$primary-color: #6B2AEE;
$secondary-color: #02E7D9;
$success-color: #00d34d;

$primary-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$secondary-font: 'Courier New', Courier, monospace;

$hover-color: coral;